
    .navbar_header{
        width: 100%;
        height: 6.5vmax;
        max-width: 100%;
        display: flex;
        background-color: black;
        color: #fff;
        border-top: 1px solid rgb(255 255 255 / 10%);
        border-bottom: 1px solid rgb(255 255 255 / 10%);

    
    }
    .first_part{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img{
        max-width: 100%;
        max-height: 100%;
        cursor: pointer;
    }

    .second_part{
        width: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
    }
    .ul_list{
        display: flex;
        list-style: none;
        
    }
    .a_list{
    text-decoration: none;
    color: #fff;
    padding: 1vmax 1.7vmax;
    }
    .third_part{
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .icon_header{
        width: 50%;
        display: flex;
        justify-content: space-around;

    }
   
    .icon{
        font-size: 2vmax;
        cursor: pointer;
    }

  /* menu lsit */
    .asider{
        position: fixed;
        width: 100%;
        height: calc(100vh - 5vmax);
        display: flex;
        transition: 0.3s;
        justify-content: flex-end;
        visibility: hidden;
         background-color: rgba(0,0,0,.0);
       
        
    }
    .visiblemenu{
        visibility: visible;
        right: 0;
        background-color: rgba(0,0,0,.6);;
    }
   .nevbar_toggle_menu{
       position: absolute;
       background-color: #fff;
       width: 390px;
       max-width: calc(100% - 30px);
       right: -480px;
       height: calc(100vh - 5vmax);
       overflow-y: auto;
       transition: all .4s;
       display: flex;
       flex-direction: column;
       align-items: center;
     
    }
 .nevbar_toggle_menu.active{
       right: 0;
 }
.closemenusection{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vmax;
}
.closemenusection .closeicon{
    margin-right: 1vmax;
}
.navigarionlinks_menu{
    width: 70%;
}
.menu_li{
    margin-top: 1vmax;
 
}
.menu_ul{
      list-style: none;
  }
  .menu_a{
      text-decoration: none;
      transition: all 0.2s;
      font-size: 1.4vmax;
      font-family: 'Roboto', sans-serif;
  }
  .menu_a:hover{
      color: #007bff;
  }









    body{
        background-color: gray;
    }






/* responseiv break pointer */
@media screen and (max-width:480px) {
    .navbar_header{
         justify-content: space-around;
         height: 9vmax;
    }
    .first_part{
        width: 60%;
        justify-content: flex-start;  
    }
    
    .second_part{
        display: none;
    }
    .icon_header{
        width: 100%;
    }
    .icon{
        font-size: 3vmax;
    }
    .nevbar_toggle_menu{
        width: 100%;
    }
    .closemenusection{
      height:  8vmax;
    }
   .closeicon{
       font-size: 4vmax;
       margin-right: 2vmax;
   }
    /* menu */
    .menu_a{
        font-size: 3vmax;
    }
}
